

body{background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(156, 199, 0) 35%,
    rgb(249, 254, 255) 100%
  );

 
}



h1{
    text-align: center;
    color: white;
    font-family: "fontePerso";
  
}


h3{
    font-size: 20px;
    font-family: "fontePerso";
}


p{
    font-size: 20px;
    font-family: "";
}


.medida{
    font-family: "fontePerso";
    font-weight: bold;

}
  

section{
background:yellow ;
color: rgb(0, 0, 0);
text-align: center;
border-radius: 10px;
padding: 15px;
width: 300px;
margin: auto;
box-shadow:  5px 5px 20px rgba(0, 0, 0, 0.288);
border: 5px solid rgb(255, 255, 255);
transition-property:padding;
transition-duration: 400ms;
transition-delay: 200ms;

}


section:hover{
    padding-left: 40px;
    padding-right: 40px;
}


input{
    border-radius: 5px;
    background: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    height: 18px;
    
}

input::placeholder{
    font-size: 13px;
    color:rgb(0, 0, 0);
    font-style: italic;
    font-weight: bold;
    

}



.btn{
    cursor: pointer;
    color:#000000;
    background-color:rgb(255, 255, 255);
    border-radius: 20px;
    font-size: 25px;
    font-family: "fontePerso";
    font-weight: bold;
    width: 100px;
    height: 37px;
    margin-bottom: 5px;    
    border:solid #ffffff;
    transition-property: background-color;
    transition-duration: 700ms;
    transition-delay: 100ms;
}


    

.btn:hover{  /*quando passa o mause muda o fundo da cor do botão*/
    background-color:rgb(0, 0, 0);
    color: #fffbfbaf;
}


#resposta {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

@font-face{
    font-family:"fontePerso" ;
    src:url("../fonts/riesling.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;

    /*TIPOS DE FORMATO
    -opentype (otf)
    -Truetype (ttf)
   -embedded - opentype
    -truetype-att (aple advenced typography)
    -svg */
}